c In this file multiple things are wrong.
c First the values in the p line are wrong
c Second the clauses are not in the correct format
c In the last line are two clauses.
c and we have many trailing whitespaces.
p cnf 1 2
1 2 - 3 0
-2 3 4 0   
    -1 -3 4 5 0
      1 -2    -4 -5 0           
1 2 hello 0 -3 -4 0
-1 2 -3 0             
-1 0 -2    3 -4 -5 0        